/* Default styling (corresponds to "start" state) */
[data-attribute="roi-form"] {
    transition: opacity 0.5s, transform 0.5s;
    will-change: opacity, transform;

}

[data-attribute="roi-form"] #roi_block_one {
    animation: showElement 0.8s forwards;
    display: flex; /* or block, inline, inline-block depending on your need */
}

[data-attribute="roi-form"] #roi_block_two {
    display: none;
}

[data-attribute="roi-form"][data-calculator-state="start"] #roi-previous,
[data-attribute="roi-form"][data-calculator-state="start"] #roi-submit {
    display: none;
}

[data-attribute="roi-form"][data-calculator-state="start"] #roi-next {
    animation: showElement 0.8s forwards;
    display: flex;
}

/* Styling for "middle" state */
[data-attribute="roi-form"][data-calculator-state="middle"] #roi_block_one {
    display: none;
}

[data-attribute="roi-form"][data-calculator-state="middle"] #roi_block_two {
    animation: showElement 0.8s forwards;
    display: flex; /* or block, inline, inline-block depending on your need */
}
/* button visibility */
[data-attribute="roi-form"][data-calculator-state="middle"] #roi-previous,
[data-attribute="roi-form"][data-calculator-state="middle"] #roi-submit {
    animation: showElement 0.8s forwards;
    display: flex;
}

[data-attribute="roi-form"][data-calculator-state="middle"] #roi-next {
    display: none;
}

/* Styling for "success" state */
[data-attribute="roi-form"][data-calculator-state="success"] #form-header,
[data-attribute="roi-form"][data-calculator-state="success"] #roi_block_two,
[data-attribute="roi-form"][data-calculator-state="success"] #roi_button_wrap {
    animation: hideElement 0.5s forwards;
    display: none;
}

[data-attribute="roi-form"][data-calculator-state="success"] .roi_form_success_wrap {
    animation: showElement 1s forwards;
    display: flex;
}

/* Keyframe animations */
@keyframes hideElement {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-6px);
    }
}

@keyframes showElement {
    from {
        opacity: 0;
        transform: translateY(6px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}